.page {
  margin-left: 210px;
}

.card-title {
  font-family: sans-serif;
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 20px;
/* identical to box height */


color: #19202C;

}

.card-span {
  font-family: sans-serif;
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 16px;
text-align: right;
color: #C2C2C2;
}

.card-list {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card-item {
  width: 250px;
  border-radius: 14px;
}

.card-item img {
  border-radius: 14px;
}